ChatbotERNUI/*.iml
ChatbotERNUI/.gradle
ChatbotERNUI/local.properties
ChatbotERNUI/.idea/caches
ChatbotERNUI/.idea/libraries
ChatbotERNUI/.idea/modules.xml
ChatbotERNUI/.idea/workspace.xml
ChatbotERNUI/.idea/navEditor.xml
ChatbotERNUI/.idea/assetWizardSettings.xml
ChatbotERNUI/.DS_Store
ChatbotERNUI/build
ChatbotERNUI/captures
ChatbotERNUI/.externalNativeBuild
ChatbotERNUI/.cxx
ChatbotERNUI/local.properties
ChatbotERNUI/models
ChatbotERNUI/app/src/main/ml
ChatbotBackend/.rasa
ChatbotBackend/models
SentimentAnalysis/graphics
SentimentAnalysis/models
SentimentAnalysis/tests
SentimentAnalysis/architectures
