ChatbotERNUI/*.iml
ChatbotERNUI/.gradle
ChatbotERNUI/.gradle/local.properties
ChatbotERNUI/.gradle/.idea/caches
ChatbotERNUI/.gradle/.idea/libraries
ChatbotERNUI/.gradle/.idea/modules.xml
ChatbotERNUI/.gradle/.idea/workspace.xml
ChatbotERNUI/.gradle/.idea/navEditor.xml
ChatbotERNUI/.gradle/.idea/assetWizardSettings.xml
ChatbotERNUI/.DS_Store
ChatbotERNUI/.gradle/build
ChatbotERNUI/.gradle/captures
ChatbotERNUI/.externalNativeBuild
ChatbotERNUI/.cxx
ChatbotERNUI/local.properties
ChatbotERNUI/.gradle/models

ChatbotBackend/.rasa
ChatbotBackend/models


