ChatbotERNUI/*.iml
ChatbotERNUI/.gradle
ChatbotERNUI/local.properties
ChatbotERNUI/.idea/caches
ChatbotERNUI/.idea/libraries
ChatbotERNUI/.idea/modules.xml
ChatbotERNUI/.idea/workspace.xml
ChatbotERNUI/.idea/navEditor.xml
ChatbotERNUI/.idea/assetWizardSettings.xml
ChatbotERNUI/.DS_Store
ChatbotERNUI/build
ChatbotERNUI/captures
ChatbotERNUI/.externalNativeBuild
ChatbotERNUI/.cxx
ChatbotERNUI/local.properties
ChatbotERNUI/models
ChatbotERNUI/app/src/main/ml
ChatbotBackend/.rasa
ChatbotBackend/models
SentimentAnalysis/graphics
SentimentAnalysis/models
SentimentAnalysis/architectures
SentimentAnalysis/lightning_logs



# Created by https://www.toptal.com/developers/gitignore/api/latex
# Edit at https://www.toptal.com/developers/gitignore?templates=latex

### LaTeX ###
## Core latex/pdflatex auxiliary files:
Report/*.aux
Report/*.lof
Report/*.log
Report/*.lot
Report/*.fls
Report/*.out
Report/*.toc
Report/*.fmt
Report/*.fot
Report/*.cb
Report/*.cb2
Report/.*.lb

## Intermediate documents:
Report/*.dvi
Report/*.xdv
Report/*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps

## Bibliography auxiliary files (bibtex/biblatex/biber):
Report/*.bbl
Report/*.bcf
Report/*.blg
Report/*-blx.aux
Report/*-blx.bib
Report/*.run.xml

## Build tool auxiliary files:
Report/*.fdb_latexmk
Report/*.synctex
Report/*.synctex(busy)
Report/*.synctex.gz
Report/*.synctex.gz(busy)
Report/*.pdfsync

## Build tool directories for auxiliary files
# latexrun
Report/latex.out/

## Auxiliary and intermediate files from other packages:
# algorithms
Report/*.alg
Report/*.loa

# achemso
Report/acs-*.bib

# amsthm
Report/*.thm

# beamer
Report/*.nav
Report/*.pre
Report/*.snm
Report/*.vrb

# changes
Report/*.soc

# comment
Report/*.cut

# cprotect
Report/*.cpt

# elsarticle (documentclass of Elsevier journals)
Report/*.spl

# endnotes
Report/*.ent

# fixme
Report/*.lox

# feynmf/feynmp
Report/*.mf
Report/*.mp
Report/*.t[1-9]
Report/*.t[1-9][0-9]
Report/*.tfm

#(r)(e)ledmac/(r)(e)ledpar
Report/*.end
Report/*.?end
Report/*.[1-9]
Report/*.[1-9][0-9]
Report/*.[1-9][0-9][0-9]
Report/*.[1-9]R
Report/*.[1-9][0-9]R
Report/*.[1-9][0-9][0-9]R
Report/*.eledsec[1-9]
Report/*.eledsec[1-9]R
Report/*.eledsec[1-9][0-9]
Report/*.eledsec[1-9][0-9]R
Report/*.eledsec[1-9][0-9][0-9]
Report/*.eledsec[1-9][0-9][0-9]R

# glossaries
Report/*.acn
Report/*.acr
Report/*.glg
Report/*.glo
Report/*.gls
Report/*.glsdefs
Report/*.lzo
Report/*.lzs
Report/*.slg
Report/*.slo
Report/*.sls

# uncomment this for glossaries-extra (will ignore makeindex's style files!)
# *.ist

# gnuplot
Report/*.gnuplot
Report/*.table

# gnuplottex
Report/*-gnuplottex-*

Report/# gregoriotex
Report/*.gaux
Report/*.glog
Report/*.gtex

Report/# htlatex
Report/*.4ct
Report/*.4tc
Report/*.idv
Report/*.lg
Report/*.trc
Report/*.xref

# hyperref
Report/*.brf

# knitr
Report/*-concordance.tex
# TODO Uncomment the next line if you use knitr and want to ignore its generated tikz files
# *.tikz
Report/*-tikzDictionary

# listings
Report/*.lol

# luatexja-ruby
Report/*.ltjruby

# makeidx
Report/*.idx
Report/*.ilg
Report/*.ind

# minitoc
Report/*.maf
Report/*.mlf
Report/*.mlt
Report/*.mtc[0-9]*
Report/*.slf[0-9]*
Report/*.slt[0-9]*
Report/*.stc[0-9]*

# minted
Report/_minted*
Report/*.pyg

# morewrites
Report/*.mw

# newpax
Report/*.newpax

# nomencl
Report/*.nlg
Report/*.nlo
Report/*.nls

# pax
Report/*.pax

# pdfpcnotes
Report/*.pdfpc

# sagetex
Report/*.sagetex.sage
Report/*.sagetex.py
Report/*.sagetex.scmd

# scrwfile
Report/*.wrt

# svg
Report/svg-inkscape/

# sympy
Report/*.sout
Report/*.sympy
Report/sympy-plots-for-*.tex/

# pdfcomment
Report/*.upa
Report/*.upb

# pythontex
Report/*.pytxcode
Report/pythontex-files-*/

# tcolorbox
Report/*.listing

# thmtools
Report/*.loe

# TikZ & PGF
Report/*.dpth
Report/*.md5
Report/*.auxlock

# titletoc
Report/*.ptc

# todonotes
Report/*.tdo

# vhistory
Report/*.hst
Report/*.ver

# easy-todo
Report/*.lod

# xcolor
Report/*.xcp

# xmpincl
Report/*.xmpi

# xindy
Report/*.xdy

# xypic precompiled matrices and outlines
Report/*.xyc
Report/*.xyd

# endfloat
Report/*.ttt
Report/*.fff

# Latexian
Report/TSWLatexianTemp*

## Editors:
# WinEdt
Report/*.bak
Report/*.sav

# Texpad
Report/.texpadtmp

# LyX
Report/*.lyx~

# Kile
Report/*.backup

# gummi
Report/.*.swp

# KBibTeX
Report/*~[0-9]*

# TeXnicCenter
Report/*.tps

# auto folder when using emacs and auctex
Report/./auto/*
Report/*.el

# expex forward references with \gathertags
Report/*-tags.tex

# standalone packages
Report/*.sta

# Makeindex log files
Report/*.lpz

# xwatermark package
Report/*.xwm

# REVTeX puts footnotes in the bibliography by default, unless the nofootinbib
# option is specified. Footnotes are the stored in a file with suffix Notes.bib.
# Uncomment the next line to have this generated file ignored.
#*Notes.bib

### LaTeX Patch ###
# LIPIcs / OASIcs
Report/*.vtc

# glossaries
Report/*.glstex

# End of https://www.toptal.com/developers/gitignore/api/latex
